body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("../images/galaxy.jpeg");
    background-size: cover;
  }
  
  h1 {
    position: absolute;
    color: white;
    font-size: 5rem;
    text-align: center;
    background: linear-gradient(
        to right, 
        #c94b30, #b95b3a, #e49b4d, #f29b49, #f4a261, 
        #d86b3b, #ac4f32, #9b3b32, #933d3d
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    bottom: 800px;
    left: 900px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  }
  
  .sidebar {
    height: 100vh;
    width: 60px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.7);
    z-index: 1; 
  }
  
  .sidebar a {
    text-decoration: none;
    color: white;
    margin: 20px 0;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    transform: scale(1);
  }
  
  .sidebar a:hover {
    transform: scale(1.2);
  }
  
  .sidebar a i {
    transition: transform 0.3s ease-in-out, color 0.3s ease;
  }
  
  .sidebar a:hover i {
    transform: scale(1.2);
    color: #ff4500;
  }
  

.movies{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    position: relative;
    left: 30px;
    bottom: 350px;
}

.movies img{
    max-width: 160px;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s;
}

.movies img:hover{
    transform: scale(1.1);
}


.btn1{
  position: absolute;
  left: 120px;
  bottom: 120px;
  background-color: #ff4500;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
}

.btn2{
  position: absolute;
  right: 120px;
  bottom: 120px;
  background-color: #ff4500;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
}

.btn1:hover, .btn2:hover {
  background-color: #e03e00;
}

.info-movies{
    display: flex;
    position: absolute;
    top: 20%;
    left: 35.5%;
    align-items: center;
    padding: 5px;
}

.movie-card {
    display: flex;
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 550px;
  }
  
  .movie-poster {
    max-width: 200px;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .movie-details {
    display: flex;
    flex-direction: column;
  }
  
  .movie-details h3 {
    color: #555;
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .movie-details p:first-of-type {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
  }
  
  .movie-details p:last-of-type {
    font-size: 16px;
    line-height: 1.5;
  }

.movie-details .btn{
    background-color: #ff4500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#video {
  display: none;  
  width: 50%;    
  max-width: 400px; 
  margin-top: 20px;
}