body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("../images/galaxy.jpeg");
  background-size: cover;
}

.container h1 {
  color: white;
  font-size: 5rem;
  text-align: center;
  background: linear-gradient(
      to right, 
      #c94b30, #b95b3a, #e49b4d, #f29b49, #f4a261, 
      #d86b3b, #ac4f32, #9b3b32, #933d3d
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.navbar{
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
}

.sidebar {
  height: 100vh;
  width: 60px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.7);
}

.sidebar a {
  text-decoration: none;
  color: white;
  margin: 20px 0;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  transform: scale(1);
}

.sidebar a:hover {
  transform: scale(1.2);
}

.sidebar a i {
  transition: transform 0.3s ease-in-out, color 0.3s ease;
}

.sidebar a:hover i {
  transform: scale(1.2);
  color: #ff4500;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container ul {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  border-radius: 50px;
  background: linear-gradient(135deg, #f0f8ff, #ffcc99);
  border: 2px solid rgba(204, 85, 0, 0.7);
  list-style-type: none;
  margin: 0;
  color: black;
  padding: 23px 16px;
  max-width: 550px;
  box-shadow: 0 4px 8px rgba(204, 85, 0, 0.6), 0 12px 16px rgba(204, 85, 0, 0.3);
}

.container li {
  margin: 0 10px;
}

span {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.container model-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 10px;
  padding-bottom: 30px;
}
