body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/galaxy.jpeg");
    background-size: cover;
    overflow: hidden;
  }
  
  .navbar{
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .sidebar {
    height: 100vh;
    width: 60px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.7);
    z-index: 1; 
  }
  
  .sidebar a {
    text-decoration: none;
    color: white;
    margin: 20px 0;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    transform: scale(1);
  }
  
  .sidebar a:hover {
    transform: scale(1.2);
  }
  
  .sidebar a i {
    transition: transform 0.3s ease-in-out, color 0.3s ease;
  }
  
  .sidebar a:hover i {
    transform: scale(1.2);
    color: #ff4500;
  }

  h1 {
    position: absolute;
     bottom: 85%;
     left: 46.2%;
     color: white;
     text-align: center;
     background: linear-gradient( to right, orange, red);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-size: 3rem;
     animation: glowText 2s ease-in-out infinite;
   }
   
   @keyframes glowText {
     0% {
         text-shadow: 0 0 10px #ff4500;
     }
     50% {
         text-shadow: 0 0 20px #ff4500;
     }
     100% {
         text-shadow: 0 0 10px #ff4500;
     }
   }

.btn {
  position: absolute;
  bottom: 25px; 
  left: 2%;
  background-color: #D94F2D; 
  color: white;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #FF7F32; 
}

.btn2 {
  position: absolute;
  bottom: 25px; 
  right: 2%;
  background-color: #FF6A13; 
  color: white;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.btn2:hover {
  background-color: #FF7F32;
}


.game-card {
  border: 8px solid #B35B2C; 
  display: flex;
  flex-direction: column;
  position: relative;
  top: 150px;
  left: 50.5%;
  transform: translateX(-50%);
  border-radius: 20px;
  max-width: 380px;
  height: 500px;
  padding: 30px;
  background-color: #F2B97F; 
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); 
  text-align: center;
  overflow: hidden;
}

.game-card h2 {
  font-size: 2.2rem;
  color: #4A2C20; 
  margin-bottom: 20px;
  font-weight: 600;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); 
}

.game-image img {
  width: 100%; 
  height: auto;
  border-radius: 55px;
  margin-bottom: 20px; 
  border: 3px solid #B35B2C; 
}


