body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../images/galaxy.jpeg");
  background-size: cover;
  overflow: hidden;
}

.container h1 {
  color: white;
  font-size: 5rem;
  text-align: center;
  background: linear-gradient(
      to right, 
      #c94b30, #b95b3a, #e49b4d, #f29b49, #f4a261, 
      #d86b3b, #ac4f32, #9b3b32, #933d3d
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.navbar{
  position: absolute;
  left: 0;
  top: 0;
}

.sidebar {
  height: 100vh;
  width: 60px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.7);
  z-index: 1; 
}

.sidebar a {
  text-decoration: none;
  color: white;
  margin: 20px 0;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  transform: scale(1);
}

.sidebar a:hover {
  transform: scale(1.2);
}

.sidebar a i {
  transition: transform 0.3s ease-in-out, color 0.3s ease;
}

.sidebar a:hover i {
  transform: scale(1.2);
  color: #ff4500;
}


h1 {
  position: absolute;
  left: 45%;
  top: 5%;
  color: #ff4500;
}

#gym {
  position: absolute;
  top: 120px;
  left: 29%;
  width: 1000px;
  height: 500px;
  border-radius: 15px;
}

#container {
  display: flex;
  gap: 100px;
  position: absolute;
  top: 57%;
  left: 30%;
  padding: 20px;
  
}
.card, .card2 {
  color: white;
  background-color: #ff4500;
  padding: 20px;
  width: 200px;
  height: 250px;
  text-align: center;
  border-radius: 15px;

}

.card3 {
  color: white;
  background-color: #ff4500;
  padding: 20px;
  width: 200px;
  height: auto;
  text-align: center;
  border-radius: 15px;
}

#more-content {
  display: none;
}

.read-more-btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.read-more-btn:hover {
  background-color: green
  ;
}
