body {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
 overflow: hidden;
  background-image: url("../images/galaxy.jpeg");
  background-size: cover;
  animation: spaceBackground 10s infinite linear;
}

.main-content h1 {
  text-transform: capitalize;
  margin-top: 10px;
  color: white;
  text-align: center;
  background: linear-gradient( to right, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  animation: glowText 2s ease-in-out infinite;;
}


@keyframes glowText {
  0% {
      text-shadow: 0 0 10px #ff4500;
  }
  50% {
      text-shadow: 0 0 20px #ff4500;
  }
  100% {
      text-shadow: 0 0 10px #ff4500;
  }
}


.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.sidebar {
  height: 100vh;
  width: 60px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.7);
}

.sidebar a {
  text-decoration: none;
  color: white;
  margin: 20px 0;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  transform: scale(1);
}

.sidebar a:hover {
  transform: scale(1.2);
}

.sidebar a i {
  transition: transform 0.3s ease-in-out, color 0.3s ease;
}

.sidebar a:hover i {
  transform: scale(1.2);
  color: #ff4500;
}



.main-content {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  display: grid;
  padding: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 20px;
}

.tabs button {
  padding: 10px 20px;
  background-color: #ff4500;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 40px;
  transition: 0.3s ease-in-out;
}

.tabs button:hover {
color: #d31010;
}

.tab-content {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 150px;
}


video {
  border: 2px solid #ff4500;
  border-radius: 10px;
  max-width: 750px;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 20px;
  left: 45.5%;
  background: linear-gradient(to right, #ff4500, #d35400, #8b0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 2rem;
  animation: glowText 2s ease-in-out infinite;
}
